/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
    .menu-area ul li{
        margin-left: 30px;
    }
    .slider-content{
        padding-left: 30px;
    }
    .slider-content h1{
        font-size: 50px;
    }
	.slider-image img{
        width: 95%;
    }
    .promotion-text{
        padding-left: 50px;
    }
    .portfolio-area{
        padding: 0 100px 80px 100px;
    }
}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {


}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {


}

 
/* small mobile :320px. */
@media (max-width: 767px) {

 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}
